In [3]:
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pandas as pd

import warnings

warnings.filterwarnings("ignore")

In [4]:
# read in the cities df 
cities_df = pd.read_csv('Cities_df')
cities_df.head()

,Unnamed: 0,id,time,location,latitude,longitude,depth,magnitude,alert,url,eventtype,significance,City
0,0,ci9132068,2000-01-01 12:30:37.190,"13km NE of Yucaipa, California",34.116,-116.940,3.237,1.44,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,earthquake,32,Los_Angeles
1,1,ci9132076,2000-01-01 13:56:15.960,"8km SSW of Idyllwild, California",33.677,-116.759,20.746,1.30,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,earthquake,26,Los_Angeles
2,2,ci9132077,2000-01-01 14:24:46.730,"5km NE of Running Springs, California",34.238,-117.063,8.960,1.60,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,earthquake,39,Los_Angeles
3,3,ci9132083,2000-01-01 15:14:15.740,"9km N of Yucaipa, California",34.112,-117.027,7.307,1.70,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,earthquake,44,Los_Angeles
4,4,ci9132121,2000-01-01 20:13:05.180,"1km S of Encino, California",34.149,-118.500,8.910,1.30,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,earthquake,26,Los_Angeles

In [5]:
# read in the pager df
pager_df = pd.read_csv('../main_data/pager_df')
pager_df.head()

,id,location,time,latitude,longitude,depth,magnitude,country,pager_version,mmi1,mmi2,mmi3,mmi4,mmi5,mmi6,mmi7,mmi8,mmi9,mmi10
0,ci9627721,"6km NNW of Big Bear Lake, CA",2001-02-10 21:05:05.780,34.289500,-116.945833,7.611,4.66,Total,1,7124876,2169417,484915,18251,1341,0,0,0,0,0
1,ci9627953,"6km NNW of Big Bear Lake, CA",2001-02-11 00:39:15.970,34.287500,-116.941833,6.611,4.22,Total,1,9580197,37886,14068,1281,0,0,0,0,0,0
2,ci9695397,"9km SE of San Clemente Is. (SE tip), CA",2001-08-16 18:04:33.770,32.759500,-118.288167,6.710,4.36,Total,1,2914368,2,0,0,0,0,0,0,0,0
3,ci9695549,"10km SSE of San Clemente Is. (SE tip), CA",2001-08-16 22:06:27.870,32.734167,-118.317667,9.662,4.17,Total,1,2272601,0,0,0,0,0,0,0,0,0
4,ci9703873,"2km SE of Beverly Hills, CA",2001-09-09 23:59:18.040,34.059000,-118.388500,7.797,4.24,Total,1,8625269,3788902,2361232,605654,105495,0,0,0,0,0

In [7]:
columns_join_pager = pager_df[['id', 'country', 'pager_version', 
                               'mmi1', 'mmi2', 'mmi3','mmi4',
                               'mmi5','mmi6','mmi7','mmi8','mmi9','mmi10',]]
columns_join_pager

,id,country,pager_version,mmi1,mmi2,mmi3,mmi4,mmi5,mmi6,mmi7,mmi8,mmi9,mmi10
0,ci9627721,Total,1,7124876,2169417,484915,18251,1341,0,0,0,0,0
1,ci9627953,Total,1,9580197,37886,14068,1281,0,0,0,0,0,0
2,ci9695397,Total,1,2914368,2,0,0,0,0,0,0,0,0
3,ci9695549,Total,1,2272601,0,0,0,0,0,0,0,0,0
4,ci9703873,Total,1,8625269,3788902,2361232,605654,105495,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,nc73799091,Total,1,113118,7036236,6568832,1149983,4567,0,0,0,0,0
197,nc73866925,Total,1,3643412,5860495,4871432,10731,45729,0,0,0,0,0
198,nc73871215,Total,1,9324443,3781770,88575,7137,1726,0,0,0,0,0
199,nc73895826,Total,1,7225518,5766675,303109,6457,117,0,0,0,0,0
200,nc73895826,Total,2,3451952,8844468,1021226,17944,37,0,0,0,0,0

In [6]:
dyfi_df = pd.read_csv('../main_data/dyfi_csv_new')
dyfi_df.head()

,lat,lon,stddev,nresp,station,intensity,distance,id,Standard deviation,cityid
0,36.709540,-121.650847,0.33,1,UTM:(10S 0620 4063 1000),2.2,504,ci9627721,NaN,NaN
1,38.606415,-121.283030,0.33,1,UTM:(10S 0649 4274 1000),3.4,617,ci9627721,NaN,NaN
2,45.238860,-122.827995,0.33,1,UTM:(10T 0513 5009 1000),1.0,1316,ci9627721,NaN,NaN
3,34.441407,-119.737257,0.33,1,UTM:(11S 0248 3814 1000),1.0,257,ci9627721,NaN,NaN
4,35.382470,-119.108288,0.33,1,UTM:(11S 0308 3917 1000),1.0,232,ci9627721,NaN,NaN

In [8]:
## Join the pager_df to the cities df but only grab the id columns and the everything after paper vision
pager_city_join = pd.merge(cities_df, columns_join_pager, on = 'id', how = 'left')
pager_city_join.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1684570 entries, 0 to 1684569
Data columns (total 25 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Unnamed: 0     1684570 non-null  int64
 1   id             1684570 non-null  object
 2   time           1684570 non-null  object
 3   location       1684549 non-null  object
 4   latitude       1684570 non-null  float64
 5   longitude      1684570 non-null  float64
 6   depth          1684567 non-null  float64
 7   magnitude      1620183 non-null  float64
 8   alert          465 non-null      object
 9   url            1684570 non-null  object
 10  eventtype      1684570 non-null  object
 11  significance   1684570 non-null  int64
 12  City           1684570 non-null  object
 13  country        465 non-null      object
 14  pager_version  465 non-null      float64
 15  mmi1           465 non-null      float64
 16  mmi2           465 non-null      float64
 17  mmi3           465 non-null      float64
 18  mmi4           465 non-null      float64
 19  mmi5           465 non-null      float64
 20  mmi6           465 non-null      float64
 21  mmi7           465 non-null      float64
 22  mmi8           465 non-null      float64
 23  mmi9           465 non-null      float64
 24  mmi10          465 non-null      float64
dtypes: float64(15), int64(2), object(8)
memory usage: 321.3+ MB

In [9]:
pager_city_join.head()

,Unnamed: 0,id,time,location,latitude,longitude,depth,magnitude,alert,url,...,mmi1,mmi2,mmi3,mmi4,mmi5,mmi6,mmi7,mmi8,mmi9,mmi10
0,0,ci9132068,2000-01-01 12:30:37.190,"13km NE of Yucaipa, California",34.116,-116.940,3.237,1.44,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ci9132076,2000-01-01 13:56:15.960,"8km SSW of Idyllwild, California",33.677,-116.759,20.746,1.30,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,ci9132077,2000-01-01 14:24:46.730,"5km NE of Running Springs, California",34.238,-117.063,8.960,1.60,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,ci9132083,2000-01-01 15:14:15.740,"9km N of Yucaipa, California",34.112,-117.027,7.307,1.70,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,ci9132121,2000-01-01 20:13:05.180,"1km S of Encino, California",34.149,-118.500,8.910,1.30,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
len(dyfi_df)

240951

In [11]:
## groupby the dyfi dataframe by the Id
dyfi_grouped = dyfi_df.groupby(['id'])[['intensity', 'distance']].sum().reset_index()
dyfi_grouped

             id  intensity  distance
0    ci10275733    11497.3    213857
1    ci10370141    15533.2    374467
2    ci10403777     4387.6     87986
3    ci10410337    18352.5    515989
4    ci10497389       22.8      1582
..          ...        ...       ...
99   nc73781306    13068.9    257865
100  nc73799091    36761.4   1018356
101  nc73866925    11029.2    390801
102  nc73871215     3335.4     67317
103  nc73895826     1504.8     25287

[104 rows x 3 columns]

In [12]:
all_csv_combined = pd.merge(pager_city_join, dyfi_grouped, on = 'id', how = 'left')

In [13]:
len(all_csv_combined)

1684570

In [14]:
all_csv_combined.head()

,Unnamed: 0,id,time,location,latitude,longitude,depth,magnitude,alert,url,...,mmi3,mmi4,mmi5,mmi6,mmi7,mmi8,mmi9,mmi10,intensity,distance
0,0,ci9132068,2000-01-01 12:30:37.190,"13km NE of Yucaipa, California",34.116,-116.940,3.237,1.44,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ci9132076,2000-01-01 13:56:15.960,"8km SSW of Idyllwild, California",33.677,-116.759,20.746,1.30,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,ci9132077,2000-01-01 14:24:46.730,"5km NE of Running Springs, California",34.238,-117.063,8.960,1.60,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,ci9132083,2000-01-01 15:14:15.740,"9km N of Yucaipa, California",34.112,-117.027,7.307,1.70,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,ci9132121,2000-01-01 20:13:05.180,"1km S of Encino, California",34.149,-118.500,8.910,1.30,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
all_csv_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1684570 entries, 0 to 1684569
Data columns (total 27 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Unnamed: 0     1684570 non-null  int64
 1   id             1684570 non-null  object
 2   time           1684570 non-null  object
 3   location       1684549 non-null  object
 4   latitude       1684570 non-null  float64
 5   longitude      1684570 non-null  float64
 6   depth          1684567 non-null  float64
 7   magnitude      1620183 non-null  float64
 8   alert          465 non-null      object
 9   url            1684570 non-null  object
 10  eventtype      1684570 non-null  object
 11  significance   1684570 non-null  int64
 12  City           1684570 non-null  object
 13  country        465 non-null      object
 14  pager_version  465 non-null      float64
 15  mmi1           465 non-null      float64
 16  mmi2           465 non-null      float64
 17  mmi3           465 non-null      float64
 18  mmi4           465 non-null      float64
 19  mmi5           465 non-null      float64
 20  mmi6           465 non-null      float64
 21  mmi7           465 non-null      float64
 22  mmi8           465 non-null      float64
 23  mmi9           465 non-null      float64
 24  mmi10          465 non-null      float64
 25  intensity      459 non-null      float64
 26  distance       459 non-null      float64
dtypes: float64(17), int64(2), object(8)
memory usage: 347.0+ MB

In [34]:
# Get all rows where 'alert' is not null
get_data_w_alerts_2 = all_csv_combined[all_csv_combined['alert'].notna()]

# Get a random sample of 20,000 rows from the rows where 'alert' is null
subset_from_combined_df_3 = all_csv_combined[all_csv_combined['alert'].isna()].sample(n=20000)

# Concatenate the two DataFrames
combined_subset_2 = pd.concat([get_data_w_alerts, subset_from_combined_df])

In [36]:
combined_subset_2.to_csv('possible_dataset_2')

In [37]:
combined_subset_2.head()

,Unnamed: 0,id,time,location,latitude,longitude,depth,magnitude,alert,url,...,mmi3,mmi4,mmi5,mmi6,mmi7,mmi8,mmi9,mmi10,intensity,distance
4937,4937,ci9627721,2001-02-10 21:05:05.780,"6km NNW of Big Bear Lake, CA",34.289500,-116.945833,7.611,4.66,green,https://earthquake.usgs.gov/earthquakes/eventp...,...,484915.0,18251.0,1341.0,0.0,0.0,0.0,0.0,0.0,4703.7,139051.0
4967,4967,ci9627953,2001-02-11 00:39:15.970,"6km NNW of Big Bear Lake, CA",34.287500,-116.941833,6.611,4.22,green,https://earthquake.usgs.gov/earthquakes/eventp...,...,14068.0,1281.0,0.0,0.0,0.0,0.0,0.0,0.0,486.0,12254.0
7318,7318,ci9695397,2001-08-16 18:04:33.770,"9km SE of San Clemente Is. (SE tip), CA",32.759500,-118.288167,6.710,4.36,green,https://earthquake.usgs.gov/earthquakes/eventp...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,946.6,43559.0
7323,7323,ci9695549,2001-08-16 22:06:27.870,"10km SSE of San Clemente Is. (SE tip), CA",32.734167,-118.317667,9.662,4.17,green,https://earthquake.usgs.gov/earthquakes/eventp...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,474.5,22529.0
7559,7559,ci9703873,2001-09-09 23:59:18.040,"2km SE of Beverly Hills, CA",34.059000,-118.388500,7.797,4.24,green,https://earthquake.usgs.gov/earthquakes/eventp...,...,2361232.0,605654.0,105495.0,0.0,0.0,0.0,0.0,0.0,4426.2,49915.0

In [38]:
combined_subset_2.sort_values(by = 'id', ascending = False)

,Unnamed: 0,id,time,location,latitude,longitude,depth,magnitude,alert,url,...,mmi3,mmi4,mmi5,mmi6,mmi7,mmi8,mmi9,mmi10,intensity,distance
690321,55921,nc99841,1987-05-05 12:06:31.140,"3 km NNE of Interlaken, California",36.980000,-121.710500,3.982,0.85,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1177747,55919,nc99836,1987-05-05 10:07:50.080,"1 km SW of Hollister, California",36.843500,-121.411000,8.480,1.07,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690298,55898,nc99775,1987-05-04 08:16:33.450,"5 km NNE of Tres Pinos, California",36.835667,-121.291833,6.868,0.64,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1177641,55813,nc99656,1987-05-01 00:08:35.610,"7 km W of Kenwood, California",38.426500,-122.627833,5.975,1.72,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1177664,55836,nc99607,1987-05-01 16:46:12.240,"5 km ESE of Pleasanton, California",37.640833,-121.823333,5.274,1.06,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18101,18101,ci10009785,2004-05-17 21:59:05.390,"6km WSW of Idyllwild, CA",33.714333,-116.769167,15.322,1.16,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18089,18089,ci10009281,2004-05-16 07:23:53.630,"11km SW of Anza, CA",33.495167,-116.765500,9.012,0.65,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18084,18084,ci10009177,2004-05-15 21:51:37.420,"6km SW of Idyllwild, CA",33.700667,-116.757000,15.891,0.82,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18003,18003,ci10007017,2004-05-10 03:12:04.630,"4km NW of Pacoima, CA",34.306500,-118.476667,5.674,1.03,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17944,17944,ci10005429,2004-05-03 10:52:57.420,"7km S of Malibu Beach, CA",33.972833,-118.674833,13.148,1.67,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
combined_subset_2['City'].value_counts()

City
San_Jose         6029
San_Francisco    5908
San_Diego        5806
Los_Angeles      2722
Name: count, dtype: int64